<!DOCTYPE html>
<html lang="en">
  <%- include ('./partials/head.ejs') %>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<body>
  <nav>
    <ul>
      <li><a href="/">ИГХТУ</a></li>
      <li><a href="/cafedras">Кафедры</a></li>
      <li><a href="/add-cafedra">Добавить кафедру</a></li>
      <li><a href="/contacts">Контакты</a></li>
    </ul>
  </nav>
  <h1>Кафедры:</h1>
  <ul>
    <% if (cafedras.length) { %>
      <% cafedras.forEach(({ id, title, createdAt, text, dekan, direction }) => { %>
        <li>
          <article>
            <h2>
              <a href="/cafedras/<%= id %>"><%= title %></a>
            </h2>
            <p class="p trim"><%= text %></p>
            <div class="info">
              <span><%= createdAt.toLocaleDateString() %></span>
              <span>Декан: <%= dekan %></span>
            </div>
            <div>
              <span>Направление: <%= direction %></span>
            </div>
            <div>
              <button class="btn-delete" data-id="<%= id %>">
                <i class="fas fa-trash-alt" data-id="<%= id %>"></i>
            </button>
          </div>
          </article>
        </li>
      <% }) %>
    <% } %>
  </ul>

  <script>
    document.addEventListener('click', (e) => {
      const id = e.target?.dataset?.id || null;
      if (id) {
        fetch(`/cafedras/${id}`, {
          method: 'DELETE', 
        }).then(() => {
          window.location.reload();
        });
      }
    });
    $(document).ready(function () {
    var size = 90,
        newsContent = $('.trim'),
        newsText = newsContent.text().trim(); // ◀
    if(newsText.length > size) {
      newsContent.text(newsText.slice(0, size) + ' ...');
    }
  });
  </script>
</body>
</html>
