<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <%- include ('./partials/bootstrap.ejs') %>
    <style>
        .navbar{
          background-color: black !important;
        }
        .navButton {
  border-color: white;
}
.navButton {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
      </style>
</head>
<body>
    <div class="headerContainer">
        <%- include ('./partials/navbar.ejs') %>
            <div class="container ">
                <div class="row">
                    <div class="col-lg-4 col-md-4 profileContainerImage">
                        <img src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png"
                             class="profileImage mt-4" alt="user" />
                    </div>
                    <div class="col-lg-8 col-md-8 profileContainerContent">
                        <form method="post" action="/profile">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputFirstName">Имя</label>
                                    <input type="text" value="<%=user.firstName%>"  class="form-control"
                                        id="inputFirstName" required  placeholder="Name" name="firstName">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputLastName">Фамилия</label>
                                    <input type="text" class="form-control" id="inputLastName" value="<%=user.lastName%>"
                                        required name="lastName">
                                </div>
                          
                            </div>
                            <div class="form-group">
                                <label for="inputMiddleName">Отчество</label>
                                <input type="text" class="form-control" id="inputMiddleName" value="<%=user.middleName%>"
                                    name="middleName">
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="email" class="form-control" id="inputEmail" placeholder="Email"  name="email"  readonly
                                    required value="<%=user.email%>">
                            </div>
                            <div class="form-group">
                                <label for="inputAddress">Кафедра</label>
                                <input type="text" class="form-control" id="inputAddress" name="address"  value="<%=user.address%>"
                                >
                            </div>
                            <div class="form-row">
                                <% if (user.isPrepod) { %>
                                <div class="form-group col-md-6">
                                    <label for="inputCity">Должность</label>
                                    <input type="text" class="form-control" required  id="inputCity" value="<%=user.city%>" name="city">
                                </div>
                                <% } %>
                                <div class="form-group col-md-6">
                                    <label for="inputNumber">Номер телефона</label>
                                    <input type="number"   class="form-control" value="<%=user.phoneNumber%>" id="inputNumber" name="phoneNumber">
                                </div>
                            </div>
                            <% if (user.isStudent) { %>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputCourse">Курс</label>
                                    <input type="text"   class="form-control" value="<%=user.course%>" id="inputCourse" name="course">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputGroup">Группа</label>
                                    <input type="text" class="form-control"   id="inputGroup" value="<%=user.group%>" name="group">
                                </div>
                            </div>
                            <% } %>
                            <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputStudent">Пользователь студент?</label>
                                <input type="text" class="form-control"  placeholder="true or false"  id="inputStudent" value="<%=user.isStudent%>" required name="isStudent">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPrepod">Преподаватель?</label>
                                <input type="text" class="form-control"  placeholder="true or false"  id="inputPrepod" value="<%=user.isPrepod%>" required name="isPrepod">
                            </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3" >Обновить профиль пользователя</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>