<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Занятия</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="jquery-2.1.4.js"></script>
    <script lang="javascript" src="dist/xlsx.full.min.js"></script>
    <!-- use the latest version -->
<script lang="javascript" src="https://cdn.sheetjs.com/xlsx-latest/package/dist/xlsx.full.min.js"></script>
<script lang="javascript" src="FileSaver.min.js"></script>
    <link rel="stylesheet" href="/css/taskManager.css" />
    <%- include ('./partials/bootstrap.ejs') %>
    <style>
      .navbar{
        background-color: black !important;
      }
      .navButton {
          border-color: white;
        }
    .navButton {
          background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
    </style>
</head>
<body>
    <div class="headerContainer">
        <%- include ('./partials/navbar.ejs') %>
        <div class="container tableContainer">
            <h1 class="text-center mb-5 taskHeading">Менеджер занятий</h1>
       <!--      <button id="button-a">Create Excel</button> -->
        <table id="mytable" class="table table-striped">
            <thead  >
              <tr>
                <th  class="tableTitle">Занятие</th>
                <th  class="tableTitle">Тип занятия</th>
                <th  class="tableTitle">Курс</th>
                <th  class="tableTitle">Группа</th>
                <th  class="tableTitle">Студенты</th>
                <th  class="tableTitle">Учебная неделя</th>
                <th  class="tableTitle">День недели</th>
                <th  class="tableTitle">Начало занятия</th>
                <th  class="tableTitle">Конец занятия</th>
                <th  class="tableTitle">Статус</th>
                <th  class="tableTitle">Действия</th>
              </tr>
            </thead>
            <tbody>
                <tr class="create">
                    <td colspan="4"  class="createText" >
                      <a href="/create-task">  <i class="fa fa-plus-circle" aria-hidden="true"></i></i> Создать занятие</a>
                    </td>
                    <tr class="create">
                      <td colspan="4"  class="createText" >
                        <a href="/task-manager/download">  <i class="fa fa-plus-circle" aria-hidden="true"></i></i>Скачать отчет по занятиям</a>
                      </td>
                  </tr>
                  <%tasks.map((task)=>{%>
                    <tr>
                      <td><%=task.task%></td>
                      <td><%=task.typeWork%></td>
                      <td><%=task.course%></td>
                      <td><%=task.group%></td>
                      <td><%=task.countStudents%></td>
                      <td><%=task.numberWeek%></td>
                      <td><%=task.dayWeek%></td>
                      <td><%=task.startDate%></td>
                      <td><%=task.endDate%></td>
                      <td ><div class="status "><%=task.completed%></div></td>
                      <td>
                        <div class="dropdown">
                            <i class="fa fa-ellipsis-h fa-2x dropdownIcon" aria-hidden="true" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/task-manager/update/<%=task.id%>" >Проведено</a>
                            <a class="dropdown-item" href="/task-manager/update2/<%=task.id%>" >Не завершено</a>
                            <a class="dropdown-item" href="/task-manager/delete/<%=task.id%>">Удалить</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  <%})%>
            </tbody>
          </table>
        </div>
    </div>
<script>
  const status=document.getElementsByClassName('status');
  for(var i=0;i<status.length;i++){
  if(status[i].textContent==="Проведено"){
    status[i].style.backgroundColor="green";
  }
  else if(status[i].textContent==="Не завершено"){
    status[i].style.backgroundColor="red";
  }
  else{
    status[i].style.backgroundColor="orange";
  }
}

/*     var wb = XLSX.utlis.table_to_book(document.getElementById('mytable'), {sheet: "Sheet JS"});
    var wbout = XLSX.write(wb, {bookType: 'xlsx', bookSST:true, type: 'binary'});
        function s2ab(s) {
          var buf = new ArrayBuffer(s.length);
          var view = new Uint8Array(buf);
          console.log("ke");
            for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        $("#button-a").click(function(){
        saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'test.xlsx');
        });

         */
</script>
</body>
</html>